<div class="container">
  <h1 class="text-center mb-4 display-4">Owners</h1>

  <%= form_with url: owners_path, method: :get, local: true do %>
    <div class="form-group">
      <%= label_tag :search_term, "Search Owners" %>
      <%= text_field_tag :search_term, params[:search_term], class: "form-control", placeholder: "Enter owner name" %>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <table class="table mt-4">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @owners.each do |owner| %>
        <tr>
          <td><%= owner.name %></td>
          <td><%= owner.email %></td>
          <td><%= link_to 'Details', owner_path(owner), class: "btn btn-info" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @owners, class: "pagination justify-content-center" %>
</div>
